html,
body {
  font-family: "Noto Sans Thai", sans-serif;
  overscroll-behavior: none;
  /* Lock viewport to prevent bounce */
  height: 100%;
  overflow: hidden;
}

#__nuxt {
  height: 100%;
}
/* ฟอนต์หัวข้อ */
h1, h2, h3, .heading {
  font-family: "Kanit", sans-serif;
}

/* ฟอนต์เน้นความหรู / บทความยาว */
.serif {
  font-family: "Taviraj", serif;
}

